{% load static %}
<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/app/agregar_tejidos">Agregar Tejido</a>
                <a class="navbar-brand" href="/app/agregar_hilados">Agregar Hilado</a>
                <a class="navbar-brand" href="/app/agregar_accesorios">Agregar Accesorio</a>
                <a class="navbar-brand" href="/app/buscar_tejido">Buscar Tejido</a>
                <a class="btn btn-primary" href="/app/crear_usuario">Crear Usuario</a>
            </div>
        </nav>